<style>
    .actions a {
        color: black !important;
    }
</style>
<h1>Edit Appointment</h1>

<%= render 'form' %>
<div class="actions">
  <%= link_to 'Show', @appointment %> |
  <%= link_to 'Back', appointments_path %>

</div>
